*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

header{
	display: flex;
    background: blueviolet;
    color: white;
    height: 22px;
    padding-top: 4px;
    font-size: 14px;
    justify-content: end;
    padding-right: 85px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

section{
	display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-right: 50px;
}

.subjects img{
	width: 250px;
    padding-left: 26px;
    padding-top: 25px;
    padding-bottom: 80px;
}

.subjects{
	cursor: pointer;
	border: 1px solid white;
    box-shadow: 0px 0px 7px 0px #c3baba;
	width: 300px;
	margin-right: 20px;
}

.mcq{
	text-align: center;
    font-size: 25px;
    color: blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px black;
}

nav{
	display: flex;
	justify-content: end;
	background: blueviolet;
	color: white;
}

nav img{
	width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 35%;
}

nav ul{
	cursor: pointer;
	display: flex;
	margin-top: 54px;
    font-size: 20px;
    max-width: 42%;
    padding-right: 85px;
}

nav ul li{
	list-style-type: none;
	padding-left: 35px;
}

section div p{
	text-align: center;
	color: #333;
	font-weight: bold;
    font-size: 10px;
    margin-top: -55px;
    margin-bottom: 25px;
}

aside{
	float: left;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 60px;
    margin-top: 66px;
    margin-left: 35px;
    line-height: 3em;
    background: #e3e2e2;
}

aside ul li{
	list-style-type: none;
	color: blueviolet;
	cursor: pointer;
}

aside img{
	width: 165px;
    margin-top: 50px;
    height: 165px;
}

.subjects :hover{
	opacity: 0.9;
}

footer{
	display: flex;
	background: #333;
	margin-top: 30%;
}

footer ul li{
	list-style-type: none;
	color: white;
	cursor: pointer;
}

footer ul li :hover{
	color: blueviolet;
}

footer h2{
	color: blueviolet;
	padding-top: 55px;
    padding-bottom: 25px;
}

footer div{
	padding-left: 12%;
	line-height: 1.5em;
	margin-bottom: 80px;
}

.query{
    margin-top: 50px;
}

input[type="text"],
input[type="mail"]{
    border: none;
    width: 175%;
    height: 10%;
    margin-bottom: 30px;
    outline-color: blueviolet;
}

textarea{
	border: none;
	width: 175%;
	height: 50%;
    outline-color: blueviolet;
}

button{
	    width: 80px;
	    height: 40px;
        cursor: pointer;
        background: blueviolet;
        color: white;
        border: none;
        margin-top: 20px;
}

.Questions{
	display: block;
    border: 1px solid white;
    box-shadow: 0px 0px 7px 0px #c3baba;
    margin-left: 25%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Questions ul{
	margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 25px;
}

.Questions ul li{
	list-style-type: circle;
	cursor: pointer;
}

nav ul li : hover{
	border: 1px solid;
}